<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<div class="fixed-action-btn direction-top active">
  <%= link_to students_path, class: "waves-effect waves-light btn btn-floating btn-large cyan" do %>
    <i class="large material-icons">arrow_back_ios</i>
  <% end %>
</div>