<h3>New Student</h3>

<%= render 'form', student: @student %>

<div class="fixed-action-btn direction-top active">
  <%= link_to students_path, class: "waves-effect waves-light btn btn-floating btn-large cyan" do %>
    <i class="large material-icons">arrow_back_ios</i>
  <% end %>
</div>
